* {box-sizing: border-box;}

  body {position: relative;}
  #home {padding-top:50px; color: #fff; background-color: black;}
  #service {padding:50px; background-color: lightgreen;}
  #background {padding:50px; background-color: white;}
  #gallery {padding:50px; background-color: lightgreen;}
  #contact {padding:50px; background-color: lightgrey;}

  .container-2 {padding-top: 50px;padding-bottom: 50px;}

  .row {display:flex; justify-content:center; margin: 20px; font-size: 20px;}

  .column{flex:33.3%;max-width:33.3%;padding:5px;text-align:center;}

  .column img {margin-top: 10px;vertical-align: middle;}

  .panel-default {margin: 10px; width:34%;}

  .footer {text-align: center;padding: 30px; background-color: grey; color: white}

  @media only screen and (max-width:780px) {
  .row {flex-direction: column; width: 315%;}
